<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sistema de gestão de Cartórios</title>
    </head>
    <body>
        <div class="container" align="center">
            <h1>Sistema de gestão de Cartórios</h1>
            <a th:href="@{/cartorio/novoCartorio}">Cadastrar cartório</a>
            <hr>
            <h2>Cartórios</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Endereço</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cartorio : ${listaCartorios}">
                        <td th:text="${cartorio.nome}"></td>
                        <td th:text="${cartorio.endereco}"></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>
            <hr>           
        </div>
    </body>
</html>